# Ignore object files
#*.o

# Ignore executables (named explicitly here,
# possibly a regex would be better?)
#/kruskal/kruskal/test_kruskal
#/kruskal/kruskal/test_mt_kruskal
#/kruskal/kruskal/test_procmap

# Ignore everything
*
# Allow directories
!/**/
# Allow everything with an extension
!*.[a-z]*
# Ignore object files
*.o
# Ignore .csv files
*.csv
# Ignore .png files
*.png
# Ignore .gr* (graph files)
*.gr*
